.toppings-card {
    background-color: #E7E7E7;
    box-shadow: 0 0 1rem rgb(0 0 0 / 0.4);
    border-radius: 1rem;
    padding: 1rem;
    min-width: 50%;
    margin-top: 5rem;
}

.toppings-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #000000;
    margin-top: 1rem;
    padding-top: 1rem;
}

.toppings-list-warning {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}

.toppings-list-item {
    background-color: #485696;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
}

.toppings-list-item-name {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    max-width: 80%;
}

.toppings-list-item-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 3.5rem;
}

.toppings-list-item-icon {
    color: #ffffff;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.toppings-list-item-icon:hover {
    color: #E7E7E7;
}