.pizzas-create {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pizzas-create-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #485696;
    text-align: center;
}

.pizzas-create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.pizzas-create-form-input {
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    border: 1px solid #485696;
    margin-bottom: 0.5rem;
}

.pizzas-create-form-input::placeholder {
    font-weight: 300;
    font-size: 1rem;
}

.form-flex {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.topping-dropdown {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.topping-dropdown:hover>.topping-dropdown-items {
    display: block;
}

.topping-dropdown-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    background-color: #ffffff;
    padding: 1rem;
    border: 1px solid #000000;
}

.topping-dropdown-items {
    position: absolute;
    display: none;
    background-color: #ffffff;
    width: 100%;
}

.topping-dropdown-item {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    display: block;
}

.topping-dropdown-item-warning {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: default;
    text-align: center;
    display: block;
    cursor: pointer;
    color: #000000;
}


.topping-dropdown-item:hover,
.topping-dropdown-item-warning:hover {
    background-color: silver;
}

.pizzas-create-form-button {
    outline: none;
    border: none;
    padding: 1rem;
    background-color: #485696;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    border-radius: 2rem;
    width: fit-content;
    margin-left: 1rem;
}

.selected-toppings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topping-item {
    background-color: #485696;
    margin-top: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.fa-xmark {
    cursor: pointer;
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.topping-item-warning {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}